.section-user {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0  0 2rem 0;
    width: 100%;
}
.edit {
    width: fit-content;
}
.section-user .title-user {
    color: #FFFFFF;
    margin-bottom: 5px;
}
.section-user .modal {
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    padding: 10px;
}
.section-user form {
    display: flex;
    flex-direction: column;
    align-items: center;
}