header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    z-index: 1;
}

header .logo {
    width: 200px;
    max-width: 100%;
}
header .logo:hover {
    cursor: pointer;
}

header nav {
    font-weight: bold;
}
header nav .link {
    margin-right: 0.5rem;
    text-decoration: none;
}
header nav .link:hover {
    cursor: pointer;
    text-decoration: underline;
}
header nav .link:visited {
    color: #2c3e50;
    text-decoration: none;
}
header nav .icon-header {
    margin-right: 5px;
}
  
@media (max-width: 370px) {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    nav .link {
      margin-bottom: 2px;
    }
}